.landing-wrapper{
    background: linear-gradient(#d8d8d8 50%,#d7d2d2);
    width:100vw;
    height:100vh;
    overflow-x: hidden;

}
.lan-subwrapper{
    background: url(./landing-bg.jpg);
    height: 85%;
    width: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 52px;
    box-shadow: 15px 15px 15px #a6a6a6;
    background-position: center;
    display: flex;
    align-items: center;
    
    margin-top: 3%;
    margin-left: 8%;
}
.quote{
    color: #fdfdfd;
}