@font-face {
    font-family: space;
    src: url(./MegatransdemoRegular-8M9B0.otf);
}
@font-face {
    font-family: mont;
    src: url(./Montserrat-VariableFont_wght.ttf);
}
footer h1{
    color:#fff;
    font-family: space;
    letter-spacing: 2px;
    text-shadow: 4px 4px 5px #8bbae9;
    font-size: 4.5rem;
    animation-name: glow;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
footer p{
    width:50%;
    font-family: mont;
    color: #fff;
    background: linear-gradient(to bottom, transparent,#171120);
    backdrop-filter: blur(17px);
    box-shadow: 7px 7px 7px #ff83cdcc;
    font-size: 1.2rem;
    padding:20px;
    border-radius:10px;
}
@keyframes glow {
    0%,100% {
        text-shadow: 4px 4px 5px #8bbae9;

    }
    50% {
        text-shadow: 4px 4px 5px #ff83cd;

    }
}
footer{
    position: fixed;  
    top: 15vh; 
     
}
footer span{
    color:#8bbae9;
    font-size: 20px;
}
footer span a{
    text-decoration: none;
    font-family: space;
    color:#fff
}
@media (max-width:768px) {
    footer{
        position: relative;
        top:32vh;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        justify-items: flex-end;
        height:100vh;
    }
    footer p{
        width: 90%;
        font-size: 1rem;
    }
}
@media (max-width:426px) {
    footer h1{
        font-size: 1.8rem;
    }
    footer p{
        
        position: relative;
    }
}
@media (max-width:376px) {
    footer{
        top:10vh
    }
    footer h1{
        font-size: 1.8rem;
    }
    footer p{
        width: 80%;

    }
}
